demo/*/*
demo/*.sdf
demo/*.sln
demo/*.suo
demo/*.opensdf
demo/demo/*.opensdf

Jscpp/Jscpp/Debug/
Jscpp/Debug/
Jscpp/*.sdf
Jscpp/*.opensdf

!demo/demo/*.cpp
!demo/demo/*.h
!demo/demo/*.json

!.gitigonre